version: 2.1
jobs:
  semgrep-full-scan:
    docker:
      - image: returntocorp/semgrep
    steps:
      - checkout
      - run: 
          name: "Semgrep full scan"
          command: |
            echo "This is a semgrep full scan"
            semgrep ci
  semgrep-pr-scan:
    parameters:
      default_branch:
        type: string
        default: main
    environment:
      SEMGREP_BASELINE_REF: << parameters.default_branch >>
    docker:
      - image: returntocorp/semgrep
    steps:
      - checkout
      - run: 
          name: "Semgrep pull request scan"
          command: |
            echo "This is a pull request semgrep scan"
            git fetch origin "+refs/heads/*:refs/remotes/origin/*"
            semgrep ci
workflows:
  version: 2
  scan:
    jobs:
      - semgrep-full-scan:
          filters:
            branches:
              only: main
          context:
            - dev
      - semgrep-pr-scan:
          filters:
            branches:
              ignore: main          
          context:
            - dev
